// Borders
.border        { border:        1px solid; }
.border-top    { border-top:    1px solid; }
.border-right  { border-right:  1px solid; }
.border-bottom { border-bottom: 1px solid; }
.border-left   { border-left:   1px solid; }