// Useful for icons, tiles, circles, etc.
.sq1 { width:  1rem; height:  1rem; } //  16px
.sq2 { width:  2rem; height:  2rem; } //  32px
.sq3 { width:  3rem; height:  3rem; } //  48px
.sq4 { width:  4rem; height:  4rem; } //  64px
.sq5 { width:  6rem; height:  6rem; } //  96px
.sq6 { width:  8rem; height:  8rem; } // 128px
.sq7 { width: 16rem; height: 16rem; } // 256px

.minhi1 { min-height:  1rem; }
.minhi2 { min-height:  2rem; }
.minhi3 { min-height:  3rem; }
.minhi4 { min-height:  4rem; }
.minhi5 { min-height:  6rem; }
.minhi6 { min-height:  8rem; }
.minhi7 { min-height: 16rem; }

.maxhi1 { max-height:  1rem; }
.maxhi2 { max-height:  2rem; }
.maxhi3 { max-height:  3rem; }
.maxhi4 { max-height:  4rem; }
.maxhi5 { max-height:  6rem; }
.maxhi6 { max-height:  8rem; }
.maxhi7 { max-height: 16rem; }

// Max-widths to use for controlling typographic measure
.maxwi1 { max-width: 24rem; } // 384px
.maxwi2 { max-width: 32rem; } // 512px
.maxwi3 { max-width: 40rem; } // 640px
.maxwi4 { max-width: 48rem; } // 768px
.maxwi5 { max-width: 60rem; } // 960px
