/* ==========================================================================

   LAYOUT

   ========================================================================== */

.fl { float: left; }
.fr { float: right; }

.posrel { position: relative; }
.posabs { position: absolute; }

.top0    { top:    0; }
.right0  { right:  0; }
.bottom0 { bottom: 0; }
.left0   { left:   0; }

.top1    { top:    1rem; }
.right1  { right:  1rem; }
.bottom1 { bottom: 1rem; }
.left1   { left:   1rem; }

.top2    { top:    2rem; }
.right2  { right:  2rem; }
.bottom2 { bottom: 2rem; }
.left2   { left:   2rem; }

.fill {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
