// Modules


// Buttons

.button {
  @extend .inline-block;
}
.button-small {
  line-height: 32px;
  padding: 0 12px;
}
.button-med {
  line-height: 48px;
  padding: 0 16px;
}
.button-big {
  line-height: 64px;
  padding: 0 16px;
}


// Media Object

.media,
.body {
  @extend .clearfix;
}
.img {
  @extend .left;
}
.img-right {
  @extend .right;
}


// Flag
// Table
// Progress Bar
