// Modules

// Buttons

.btn {
  display: inline-block;
  overflow: hidden;
}

.btn-small {
  line-height: 32px;
  padding: 0 12px;
}

.btn-med {
  line-height: 48px;
  padding: 0 16px;
}

.btn-big {
  line-height: 64px;
  padding: 0 16px;
}


// Media
.media {
  overflow: hidden;
  .img {
    float: left;
  }
  .bd {
    overflow: hidden;
  }
}
