// Structure


// Margins

.no-margin  { margin: 0; }

.m1  { margin:        1rem; }
.mt1 { margin-top:    1rem; }
.mr1 { margin-right:  1rem; }
.mb1 { margin-bottom: 1rem; }
.ml1 { margin-left:   1rem; }

.m2  { margin:        2rem; }
.mt2 { margin-top:    2rem; }
.mr2 { margin-right:  2rem; }
.mb2 { margin-bottom: 2rem; }
.ml2 { margin-left:   2rem; }


// Padding

.no-padding  { padding: 0; }

.pad, .p1 { padding: 1rem; }
.px1 {
  padding-right: 1rem;
  padding-left: 1rem;
}
.py1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p2  { padding: 2rem; }
.px2 {
  padding-right: 2rem;
  padding-left: 2rem;
}
.py2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

// Generic tappable padding (for links and other inline elements)
.tap-pad {
  line-height: 3rem;
}


// For fans of IE
.border-box { box-sizing: border-box; }


// Display
.inline { display: inline; }
.block  { display: block; }
.inline-block { display: inline-block; }

.clearfix { overflow: hidden; }

.left { float: left; }
.right { float: right; }

.wrap {
  margin-right: auto;
  margin-left: auto;
}


// Positioning utilities

.relative { position: relative; }
.absolute { position: absolute; }
.fixed    { position: fixed; }

.top-0    { top:    0; }
.right-0  { right:  0; }
.bottom-0 { bottom: 0; }
.left-0   { left:   0; }

.absolute-center {
  @extend .absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.scrollable {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

// Max-width used to control typographic measure
.measure { max-width: 40rem; } // 640px

// Widths (Nestable)
.full-width  { width: 100%;   }
.half-width   { width:  50%;   }
