// Mathematical Theme


// Color Variables
$dark-gray: #444;
$mid-gray: #999;
$light-gray: #eee;
$blue:  #0bf;


// Colors
.dark-gray  { color: $dark-gray; }
.mid-gray   { color: $mid-gray; }
.light-gray { color: $light-gray; }
.white      { color: #fff; }
.blue       { color: $blue; }

.bg-dark-gray  { background-color: $dark-gray; }
.bg-mid-gray   { background-color: $mid-gray; }
.bg-light-gray { background-color: $light-gray; }
.bg-white      { background-color: #fff; }
.bg-blue       {  background-color: $blue; }

a {
  @extend .blue;
  text-decoration: none;
  &:hover {
    color: darken($blue, 10%);
  }
}

// Border Radii
.rc  { border-radius: $space/4; }
.circle { border-radius: 50%; }

// Buttons
.btn-blue {
  @extend .rounded, .bg-blue;
  color: #fff;
  border: none;
  &:hover {
    color: #fff;
    background-color: lighten($blue, 5%);
  }
  &:active {
    box-shadow: inset 0 2px 4px rgba(0,0,0,.2);
  }
}
