/*

        Mathematical Theme


*/

$dkgry: #444;
$mdgry: #999;
$ltgry: #eee;
$link:  #0bf;


body {
  color: $dkgry;
  font-family: "skolar", Georgia, serif;
}


a {
  color: $link;
  text-decoration: none;
  transition: color .3s;
  -webkit-transition: color .3s;
  &:hover {
    color: darken($link, 10%);
    transition: color .3s;
    -webkit-transition: color .3s;
  }
}

/* ==========================================================================
   SKINS
   ========================================================================== */

.dkgry { color: $dkgry; }
.mdgry { color: $mdgry; }
.ltgry { color: $ltgry; }
.wht {   color: #fff; }
.link {  color: $link; }

.bg-dkgry { background-color: $dkgry; }
.bg-mdgry { background-color: $mdgry; }
.bg-ltgry { background-color: $ltgry; }
.bg-link {  background-color: $link; }

.btn-link {
  color: #fff;
  background-color: $link;
  border-radius: .25rem;
  border: none;
  &:hover {
    color: #fff;
    background-color: lighten($link, 5%);
  }
  &:active {
    box-shadow: inset 0 2px 4px rgba(0,0,0,.2);
  }
}

.input:focus {
//  appearance: none;
  outline: none;
  border-color: $link;
  //outline-color: lighten($link, 20%); 
  //outline-width: 4px;
}
