/*

        Mathematical Type


*/



////////////////////////////////////////////////////////////////
// From old CSS

body {
  font-size: 100%;
  line-height: 1.5;
  font-weight: 400;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 400;
}

h1, .h1 {
  font-size: 2rem;
  line-height: 1.25;
  margin-top: .5em;
}

h2, .h2 {
  font-size: 1.25rem;
  line-height: 1.25;
  margin-top: .5em;
}

p, ul, ol, .p, h3, h4, h5, h6 {
  font-size: 1.125rem;
  margin-top: 1em;
}

small, .small {
  font-size: .875rem;
  -webkit-text-size-adjust: 100%;
}

strong, .bold {
  font-weight: 700;
}

.caps { 
  text-transform: uppercase;
  letter-spacing: .2em;
}

.txtcen { text-align: center; }

h1+h2, h2+h1 { margin-top: 0; }

    @media screen and (min-width: 480px) {
      h1, .h1 { font-size: 3rem; }
      h2, .h2 { font-size: 1.75rem; }
      p, ul, ol, .p { font-size: 1.25rem; }
      small, .small { font-size: 1rem; }
    }
    
    @media screen and (min-width: 640px) {
      h1, .h1 { font-size: 4rem; }
      h2, .h2 { font-size: 2rem; } 
    }
    
    @media screen and (min-width: 1024px) {
      h1, .h1 { font-size: 6rem; }
      h2, .h2 { font-size: 3rem; }
    }