// Mathematical Type

$font-primary: "skolar", Georgia, serif;

body {
  font-family: $font-primary;
  line-height: 1.5;
  font-weight: 400;
}

h1, .h1 {
  font-size: 2rem;
  line-height: 1.25;
}

h2, .h2 {
  font-size: 1.5rem;
  line-height: 1.25;
}

h3, h4, h5, h6, dl, ol, ul, p, .p {
  font-size: 1.125em;
}

small, .sm {
  font-size: .875em;
}

// Device-width based responsive type scale
// Apply the .responsive class directly to elements or their parents
.res {
  @media (min-width: 768px) {
    .h1, &.h1 { font-size: 4rem; }
    .h2, &.h2 { font-size: 2rem; }
    .p, &.p { font-size: 1.25rem; }
    .small, &.small { font-size: 1rem; }
  }
  @media (min-width: 1024px) {
    .h1, &.h1 { font-size: 6rem; }
    .h2, &.h2 { font-size: 3rem; }
  }
}

strong, .bold { font-weight: 700; }
.reg { font-weight: normal; }

.caps { text-transform: uppercase; letter-spacing: .2em; }

.center { text-align: center; }
.right-align  { text-align: right; }
