// Mathematical Type


body {
  //font-size: 100%;
  line-height: 1.5;
  font-weight: 400;
}


// Simple Type Scale

h1, .h1 {
  font-size: 3em;
  line-height: 1.25;
}

h2, .h2 {
  font-size: 2em;
  line-height: 1.25;
}

h3, h4, h5, h6, ul, ol, p, .p {
  font-size: 1.25em;
}

small, .small {
  font-size: .875em;
  -webkit-text-size-adjust: 100%;
}

strong, .bold {
  font-weight: 700;
}
.regular {
  font-weight: normal;
}
.italic {
  font-style: italic;
}

.caps { 
  text-transform: uppercase;
  letter-spacing: .2em;
}

.mono { font-family: "Source Code Pro", monospace; }

.text-center { text-align: center; }
.text-right  { text-align: right; }
