
.show-phablet, .show-tablet, .show-desktop { display: none; }

@media screen and (min-width: 480px) {
  .show-mobile { display: none; }
  .show-phablet { display: block; }
}

@media screen and (min-width: 640px) {
  .show-phablet { display: none; }
  .show-tablet { display: block; }
}

@media screen and (min-width: 1024px) {
  .show-tablet { display: none; }
  .show-desktop { display: block; }
}

/*
#mobile-large-maths, #tablet-maths, #desktop-maths { display: none; }

    @media screen and (min-width: 480px) {
      #mobile-maths { display: none; }
      #mobile-large-maths { display: block; }
    }
    
    @media screen and (min-width: 640px) {
      #mobile-large-maths { display: none; }
      #tablet-maths { display: block; }
    }
    
    @media screen and (min-width: 1024px) {
      #tablet-maths { display: none; }
      #desktop-maths { display: block; }
    }
*/
