* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #444;
  padding: 0 10% 4rem;
  font-family: "skolar", serif;
  font-weight: 400;
  color: #444;
}

.wrapper {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}

.maths {
  margin: 4rem 0;
  border: 1px solid #ccc;
  padding: 1rem;
}

h1, h2 { font-weight: 400; }

#mobile-large-maths, #tablet-maths, #desktop-maths { display: none; }

    @media screen and (min-width: 480px) {
      #mobile-maths { display: none; }
      #mobile-large-maths { display: block; }
    }
    
    @media screen and (min-width: 640px) {
      #mobile-large-maths { display: none; }
      #tablet-maths { display: block; }
    }
    
    @media screen and (min-width: 1024px) {
      #tablet-maths { display: none; }
      #desktop-maths { display: block; }
    }
